body {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-left: 25%;
}
.bio {
    background-color: blanchedalmond;
}

/* Profile Picture */
.profilepic {
    float: left;
    width: 15%;
    margin: 10px;
}

/* Header & Nav Bar */
header {
    display: flex;
    align-items: left;
    text-align: center;
    flex-direction: row;
    margin: 0;
}
nav {
    margin-right: 0;
    align-items: right;
}
.name  {
    text-align: center;
    background-color: #7FFFD4;
    border: 1px solid #D3D3D3;
    padding: 20px;
}
.me {
    text-align: left;
}
li {
    display: inline;
}
ul {
    text-align: right;
    width: 100%;
    margin-right: 200px;
}
.nav {
    width: 700px;
    margin: auto;
  }

  small {
      text-align: center;
  }

footer {
    flex-shrink: 0;
    background-color: rgb(114, 111, 111);
    color: white;
    text-align: center;
}
.bio {
    border: 1px solid #D3D3D3;
    background-color: white;
}